[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggbuildr"]
	path = ggbuildr
	url = https://github.com/jongbinjung/ggbuildr
[submodule "rnr"]
	path = rnr
	url = https://github.com/jongbinjung/rnr
